<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/App_Themes/Tema1/StyleSheet1.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="~/App_Themes/Tema1/script.js"></script>
</head>
<body>

    <div class="container body-content">
        @RenderBody()


    </div>

    @if (Request.IsAuthenticated)
    {
        <h1>Menu</h1>
        <ul id="accordion" class="accordion">
            <li>
                <div class="link"><i class="fa fa-paint-brush"></i>Motorista<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <p>
                        Pesquisar por CPF
                        @using (Html.BeginForm("ConsultaMotorista", "Consulta", FormMethod.Post))
                        {
                            @Html.TextBox("Pesquisa")
                            <input type="button" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaMotorista" value="Pesquisar" />
                        }
                    </p>
                </ul>
            </li>
            <li class="default open">
                <div class="link"><i class="fa fa-code"></i>Multa<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaMulta">
                        Consultar Multa
                    </button>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-mobile"></i>Peças<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaPeca">
                        Consultar Peça
                    </button>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Veículo<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaVeiculo">
                        Consultar Veículo
                    </button>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Pneu<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaPneu">
                        Consultar Pneu
                    </button>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Abastecimento<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaAbastecimento">
                        Consultar Abastecimento
                    </button>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Aluguel<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaAluguel">
                        Consultar Aluguel
                    </button>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Entrada<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaEntradaSaida">
                        Consultar Entrada ou Saída
                    </button>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Manutenção<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaManutencao">
                        Consultar Manutenção
                    </button>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Quilometragem<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaQuilometragem">
                        Consultar Quilometragem
                    </button>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Rota<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaRota">
                        Consultar Rota
                    </button>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Seguro<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaSeguro">
                        Consultar Seguro
                    </button>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Sinistro<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaSinistro">
                        Consultar Sinistro
                    </button>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Usuário<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaUsuario">
                        Consultar Usuário
                    </button>
                </ul>
            </li>

        </ul>
        <ul id="accordion" class="accordion">
            <li>

                @using (Html.BeginForm("LogOff", "Conta", FormMethod.Post, new { id = "logoffForm" }))
                {
                <li class="logout"><a href="javascript:document.getElementById('logoffForm').submit()">Sair</a></li>
            }
                </li>
            </ul>
        }

    <!-- Consulta Motorista -->
    <div class="modal fade" id="ConsultaMotorista" tabindex="-1" role="dialog" aria-labelledby="Consulta" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado">Tela de Consulta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p> ID: @ViewBag.Id </p>
                    <p> NOME:  @ViewBag.Nome </p>
                    <p> RG: @ViewBag.Rg </p>
                    <p> CPF: @ViewBag.Cpf </p>
                    <p> CNH: @ViewBag.Cnh</p>
                    <p> VENCIMENTO CNH: @ViewBag.Vencimento</p>
                    <p> EMPRESA: @ViewBag.Empresa</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Consulta Multa -->
    <div class="modal fade" id="ConsultaMulta" tabindex="-1" role="dialog" aria-labelledby="Consulta" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado">Tela de Consulta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Pesquisar por número da multa
                        @using (Html.BeginForm("Consulta", "ConsultaMulta", "Consultar"))
                        {
                            @Html.TextBox("Pesquisa")
                            <input type="submit" value="Pesquisar" />
                        }
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Consultar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Consulta Peças -->
    <div class="modal fade" id="ConsultaPeca" tabindex="-1" role="dialog" aria-labelledby="Consulta" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado">Tela de Consulta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Pesquisar por nome da peça
                        @using (Html.BeginForm("Consultar Multa", "ConsultaMulta", "Consulta"))
                        {
                            @Html.TextBox("Pesquisa")
                            <input type="submit" value="Pesquisar" />
                        }
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Consultar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Consulta Veículo -->
    <div class="modal fade" id="ConsultaVeiculo" tabindex="-1" role="dialog" aria-labelledby="Consulta" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado">Tela de Consulta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Pesquisar por nome do veículo
                        @using (Html.BeginForm("Consultar Multa", "ConsultaMulta", "Consulta"))
                        {
                            @Html.TextBox("Pesquisa")
                            <input type="submit" value="Pesquisar" />
                        }
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Consultar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Consulta Pneu -->
    <div class="modal fade" id="ConsultaPneu" tabindex="-1" role="dialog" aria-labelledby="Consulta" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado">Tela de Consulta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Pesquisar por pneu
                        @using (Html.BeginForm("Consultar Multa", "ConsultaMulta", "Consulta"))
                        {
                            @Html.TextBox("Pesquisa")
                            <input type="submit" value="Pesquisar" />
                        }
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Consultar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Consulta Abastecimento -->
    <div class="modal fade" id="ConsultaAbastecimento" tabindex="-1" role="dialog" aria-labelledby="Consulta" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado">Tela de Consulta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Pesquisar por abastecimento
                        @using (Html.BeginForm("Consultar Multa", "ConsultaMulta", "Consulta"))
                        {
                            @Html.TextBox("Pesquisa")
                            <input type="submit" value="Pesquisar" />
                        }
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Consultar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Consulta Alguel -->
    <div class="modal fade" id="ConsultaAluguel" tabindex="-1" role="dialog" aria-labelledby="Consulta" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado">Tela de Consulta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Pesquisar por aluguel
                        @using (Html.BeginForm("Consultar Multa", "ConsultaMulta", "Consulta"))
                        {
                            @Html.TextBox("Pesquisa")
                            <input type="submit" value="Pesquisar" />
                        }
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Consultar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Consulta Entrada ou Saída -->
    <div class="modal fade" id="ConsultaEntradaSaida" tabindex="-1" role="dialog" aria-labelledby="Consulta" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado">Tela de Consulta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Pesquisar por entrada ou saída
                        @using (Html.BeginForm("Consultar Multa", "ConsultaMulta", "Consulta"))
                        {
                            @Html.TextBox("Pesquisa")
                            <input type="submit" value="Pesquisar" />
                        }
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Consultar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Consulta Manutenção -->
    <div class="modal fade" id="ConsultaManutencao" tabindex="-1" role="dialog" aria-labelledby="Consulta" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado">Tela de Consulta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Pesquisar por manutenção
                        @using (Html.BeginForm("Consultar Multa", "ConsultaMulta", "Consulta"))
                        {
                            @Html.TextBox("Pesquisa")
                            <input type="submit" value="Pesquisar" />
                        }
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Consultar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Consulta Quilometragem -->
    <div class="modal fade" id="ConsultaQuilometragem" tabindex="-1" role="dialog" aria-labelledby="Consulta" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado">Tela de Consulta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Pesquisar por quilometragem
                        @using (Html.BeginForm("Consultar Multa", "ConsultaMulta", "Consulta"))
                        {
                            @Html.TextBox("Pesquisa")
                            <input type="submit" value="Pesquisar" />
                        }
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Consultar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Consulta Rota -->
    <div class="modal fade" id="ConsultaRota" tabindex="-1" role="dialog" aria-labelledby="Consulta" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado">Tela de Consulta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Pesquisar por rota
                        @using (Html.BeginForm("Consultar Multa", "ConsultaMulta", "Consulta"))
                        {
                            @Html.TextBox("Pesquisa")
                            <input type="submit" value="Pesquisar" />
                        }
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Consultar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Consulta Seguro -->
    <div class="modal fade" id="ConsultaSeguro" tabindex="-1" role="dialog" aria-labelledby="Consulta" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado">Tela de Consulta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Pesquisar por seguro
                        @using (Html.BeginForm("Consultar Multa", "ConsultaMulta", "Consulta"))
                        {
                            @Html.TextBox("Pesquisa")
                            <input type="submit" value="Pesquisar" />
                        }
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Consultar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Consulta Sinistro -->
    <div class="modal fade" id="ConsultaSinistro" tabindex="-1" role="dialog" aria-labelledby="Consulta" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado">Tela de Consulta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Pesquisar por sinistro
                        @using (Html.BeginForm("Consultar Multa", "ConsultaMulta", "Consulta"))
                        {
                            @Html.TextBox("Pesquisa")
                            <input type="submit" value="Pesquisar" />
                        }
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Consultar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Consulta Usuário -->
    <div class="modal fade" id="ConsultaUsuario" tabindex="-1" role="dialog" aria-labelledby="Consulta" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado">Tela de Consulta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Pesquisar por usuário
                        @using (Html.BeginForm("Consultar Multa", "ConsultaMulta", "Consulta"))
                        {
                            @Html.TextBox("Pesquisa")
                            <input type="submit" value="Pesquisar" />
                        }
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Consultar</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
