<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/App_Themes/Tema1/StyleSheet1.css" rel="stylesheet" />
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="~/App_Themes/Tema1/script.js"></script>
</head>
<body>

    <div class="container body-content">
        @RenderBody()


    </div>

    @if (Request.IsAuthenticated)
    {
        <h1>Menu</h1>
        <ul id="accordion" class="accordion">
            <li>
                <div class="link"><i class="fa fa-paint-brush"></i>Motorista<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <p style="color:white;">
                        Pesquisar por CPF
                        @using (Html.BeginForm("ConsultaMotorista", "Consulta", FormMethod.Get))
                        {
                            @Html.TextBox("cpfConsultado")
                            <input type="submit" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaMotorista" value="Pesquisar" />
                        }
                    </p>
                </ul>
            </li>
            <li class="default open">
                <div class="link"><i class="fa fa-code"></i>Multa<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <p style="color:white;">
                        Pesquisar por placa
                        @using (Html.BeginForm("ConsultaMulta", "Consulta", FormMethod.Get))
                        {
                            @Html.TextBox("placaConsultada")
                            <input type="submit" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaMulta" value="Pesquisar" />
                        }
                    </p>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-mobile"></i>Peça<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <p style="color:white;">
                        Pesquisar Nome da Peça
                        @using (Html.BeginForm("ConsultaPeca", "Consulta", FormMethod.Get))
                        {
                            @Html.TextBox("nomePecaConsultada")
                            <input type="submit" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaPeca" value="Pesquisar" />
                        }
                    </p>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Veículo<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <p style="color:white;">
                        Pesquisar por Placa
                        @using (Html.BeginForm("ConsultaVeiculo", "Consulta", FormMethod.Get))
                        {
                            @Html.TextBox("placaConsultada")
                            <input type="submit" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaVeiculo" value="Pesquisar" />
                        }
                    </p>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Pneu<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <p style="color:white;">
                        Pesquisar por Placa
                        @using (Html.BeginForm("ConsultaPneu", "Consulta", FormMethod.Get))
                        {
                            @Html.TextBox("placaConsultada")
                            <input type="submit" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaPneu" value="Pesquisar" />
                        }
                    </p>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Abastecimento<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <p style="color:white;">
                        Pesquisar por Placa
                        @using (Html.BeginForm("ConsultaAbastecimento", "Consulta", FormMethod.Get))
                        {
                            @Html.TextBox("placaConsultada")
                            <input type="submit" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaAbastecimento" value="Pesquisar" />
                        }
                    </p>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Aluguel Veículos<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <p style="color:white;">
                        Pesquisar por CPF
                        @using (Html.BeginForm("ConsultaAluguel", "Consulta", FormMethod.Get))
                        {
                            @Html.TextBox("cpfConsultado")
                            <input type="submit" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaAluguel" value="Pesquisar" />
                        }
                    </p>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Entrada<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <p style="color:white;">
                        Pesquisar por Placa
                        @using (Html.BeginForm("ConsultaEntrada", "Consulta", FormMethod.Get))
                        {
                            @Html.TextBox("placaConsultada")
                            <input type="submit" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaEntrada" value="Pesquisar" />
                        }
                    </p>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Saída<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <p style="color:white;">
                        Pesquisar por Placa
                        @using (Html.BeginForm("ConsultaSaida", "Consulta", FormMethod.Get))
                        {
                            @Html.TextBox("placaConsultada")
                            <input type="submit" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaEntrada" value="Pesquisar" />
                        }
                    </p>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Manutenção<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <p style="color:white;">
                        Pesquisar por Placa
                        @using (Html.BeginForm("ConsultaManutencao", "Consulta", FormMethod.Get))
                        {
                            @Html.TextBox("placaConsultada")
                            <input type="submit" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaManutencao" value="Pesquisar" />
                        }
                    </p>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Quilometragem<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <p style="color:white;">
                        Pesquisar por Placa
                        @using (Html.BeginForm("ConsultaQuilometragem", "Consulta", FormMethod.Get))
                        {
                            @Html.TextBox("placaConsultada")
                            <input type="submit" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaQuilometragem" value="Pesquisar" />
                        }
                    </p>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Viagem<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <p style="color:white;">
                        Pesquisar por Placa
                        @using (Html.BeginForm("ConsultaRota", "Consulta", FormMethod.Get))
                        {
                            @Html.TextBox("placaConsultada")
                            <input type="submit" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaRota" value="Pesquisar" />
                        }
                    </p>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Seguro<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <p style="color:white;">
                        Pesquisar por Placa
                        @using (Html.BeginForm("ConsultaSeguro", "Consulta", FormMethod.Get))
                        {
                            @Html.TextBox("placaConsultada")
                            <input type="submit" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaSeguro" value="Pesquisar" />
                        }
                    </p>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Sinistro<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <p style="color:white;">
                        Pesquisar por Placa
                        @using (Html.BeginForm("ConsultaSinistro", "Consulta", FormMethod.Get))
                        {
                            @Html.TextBox("placaConsultada")
                            <input type="submit" class="btn btn-primary" data-toggle="modal" data-target="#ConsultaSinistro" value="Pesquisar" />
                        }
                    </p>
                </ul>
            </li>

        </ul>
        <ul id="accordion" class="accordion">
            <li>

                @using (Html.BeginForm("LogOff", "Conta", FormMethod.Post, new { id = "logoffForm" }))
                {
                <li class="logout"><a href="javascript:document.getElementById('logoffForm').submit()">Sair</a></li>
            }
                </li>
            </ul>
        }


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
