<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/App_Themes/Tema1/StyleSheet1.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="~/App_Themes/Tema1/script.js"></script>
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    @if (Request.IsAuthenticated)
    {
        <h1>Menu</h1>
        <ul id="accordion" class="accordion">
            <li>
                <div class="link"><i class="fa fa-paint-brush"></i>Motorista<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li>@Html.ActionLink("Cadastrar Novo Motorista", "Cadastro", "CadastroMotorista")</li>
                    <li>@Html.ActionLink("Excluir Motorista", "Cadastro", "ExcluiMotorista")</li>
                    <li>@Html.ActionLink("Consultar Motorista", "Cadastro", "ConsultaMotorista")</li>
                </ul>
            </li>
            <li class="default open">
                <div class="link"><i class="fa fa-code"></i>Multa<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li><a href="#">Consultar Multa</a></li>
                    <li><a href="#">Cadastrar Nova Multa</a></li>
                    <li><a href="#">Excluir Multa</a></li>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-mobile"></i>Peças<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li><a href="#">Cadastrar Nova Peça</a></li>
                    <li><a href="#">Consultar Peça</a></li>
                    <li><a href="#">Excluir Peça</a></li>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Veículo<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li><a href="#">Cadastrar Novo Veículo</a></li>
                    <li><a href="#">Consultar Veículo</a></li>
                    <li><a href="#">Excluir Veículo</a></li>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Pneu<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li><a href="#">Cadastrar Novo Pneu</a></li>
                    <li><a href="#">Consultar Pneu</a></li>
                    <li><a href="#" target="[b]blank[/b]">Excluir Pneu</a> </li>
                </ul>
            </li>
        </ul>
        <ul id="accordion" class="accordion">
            <li>

                @using (Html.BeginForm("LogOff", "Conta", FormMethod.Post, new { id = "logoffForm" }))
                 {
                    <li class="logout"><a href="javascript:document.getElementById('logoffForm').submit()">Sair</a></li>
                 }
            </li>
        </ul>
    }


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
