@model IEnumerable<ControleFrota.web.Models.multas>

@Styles.Render("~/App_Themes/Tema1/StyleSheet1.css")


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Resultado Consulta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped table-dark">
                        <thead>
                            <tr>
                                <th>Multa</th>
                                <th>data</th>
                                <th>infração</th>
                                <th>descrição</th>
                                <th>local</th>
                                <th>vencimento</th>
                                <th>pagamento</th>
                                <th>situação</th>
                                <th>placa</th>
                                <th>CPF</th>
                                <th>Valor</th>
                                <th>Gravidade</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() == 0)
                            {
                                <tr>
                                    <td colspan="3" style="color:red">
                                        Nenhum resultado encontrado
                                    </td>
                                </tr>
                            }
                            else
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.id_multa</td>
                                        <td>@item.data_multa</td>
                                        <td>@item.auto_infracao</td>
                                        <td>@item.descricao_infracao</td>
                                        <td>@item.local_multa</td>
                                        <td>@item.data_vencimento</td>
                                        <td>@item.data_pagamento</td>
                                        <td>@item.situacao</td>
                                        <td>@item.placa</td>
                                        <td>@item.cpf</td>
                                        <td>@item.valor</td>
                                        <td>@item.gravidade</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Html.ActionLink("Fechar", "Index", "Home", null, new { @class = "btn btn-secondary" })</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#exampleModal').modal('show');
    });
</script>