@model IEnumerable < ControleFrota.web.Models.motoristas>

@using (Html.BeginForm("Consulta", "ConsultaMotorista", FormMethod.Get))
{
    @Html.TextBox("searching")<input type="submit" value="Search" />
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id Motorista</th>
            <th>Nome Completo</th>
            <th>RG</th>
            <th>CPF</th>
            <th>CNH</th>
            <th>Vencimento CNH</th>
            <th>Empresa</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">
                    Nenhum resultado encontrado
                </td>
            </tr>
        }
        else
        {
            foreach(var item in Model)
            {
            <tr>
                <td>@item.id_motorista</td>
                <td>@item.nome_completo</td>
                <td>@item.rg</td>
                <td>@item.cpf</td>
                <td>@item.cnh</td>
                <td>@item.vencimento_cnh</td>
                <td>@item.empresa</td>
            </tr>
            }
        }
    </tbody>
</table>