
<h2>Consulta Multa</h2>

<p> ID: @ViewBag.Id </p>
<p> NOME:  @ViewBag.Nome </p>
<p> RG: @ViewBag.Rg </p>
<p> CPF: @ViewBag.Cpf </p>
<p> CNH: @ViewBag.Cnh</p>
<p> VENCIMENTO CNH: @ViewBag.Vencimento</p>
<p> EMPRESA: @ViewBag.Empresa</p>